<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Hello World JAX-RS 2.0 Jersey Application</display-name>

    <servlet>
        <servlet-name>Jersey Dispatcher Servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                <!--
                    Your application resource packages go here
                -->
                com.ffbit.jaxrs.hello.resources

                <!--
                    Jackson 2.x JAX-RS @Providers
                -->
                <!-- JSON -->
                com.fasterxml.jackson.jaxrs.json

                <!-- XML  -->
                <!--
                com.fasterxml.jackson.jaxrs.xml
                -->

                <!--
                    Jersey declarative hypermedia support
                -->
                org.glassfish.jersey.linking
            </param-value>
        </init-param>

        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.ffbit.jaxrs.hello.app.MyApplication</param-value>
        </init-param>

        <init-param>
            <param-name>jersey.config.server.tracing</param-name>
            <param-value>ALL</param-value>
        </init-param>

        <init-param>
            <param-name>jersey.config.server.provider.scanning.recursive</param-name>
            <param-value>org.glassfish.jersey.filter.LoggingFilter</param-value>
        </init-param>

        <!--
            For complete list of Jersey's configuration parameters names visit
            the "Appendix A. Configuration Properties" at
            https://jersey.java.net/documentation/latest/user-guide.html#appendix-properties
        -->

        <init-param>
            <param-name>jersey.config.server.provider.scanning.recursive</param-name>
            <param-value>false</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey Dispatcher Servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>